html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #88bdbc;
}

.base-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Login and Register Styling */
.form-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 24em;
  -webkit-box-pack-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5 ease-out;
}

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}

.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid red;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 24em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.inner-container {
  transition: visibility 0.2s ease-out;
}

.inner-container.show {
  visibility: visible;
}

.box-header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
}

/* image styling */
.avatar {
  height: 175px;
  width: 175px;
}

.trail {
  height: 500px;
  max-width: 150%;
  object-position: center top;
  object-position: 100px 50px;
}

/* Admin Table  */
.reactTable {
  border: 6px solid;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
